h1{
    color: goldenrod;
}
.completed{
    text-decoration: line-through;
    color: gray;
}

li {
    list-style-type: none;
}

/* .not{
    text-decoration: underline;
} */


body {
    background: #E8EBF3;
    padding: 5% 30%;
    /* height: 100vh; */
    font: 400 16px 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }