/* 
h1{
    color: white;
    background-color: black;
    padding: 0%;
    text-align: center;
.not{
    text-decoration: underline;
}
} */

.completed {
  text-decoration: line-through;
  color: #e75a5a;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #4B4E6D;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
}


/* ======== nav bar ======= */
.container {
  margin: auto;
  max-width: 1050px;
  width: 90%;
}

.navbar {
  background: #222222;
  justify-content: center;
  width: 100%;
}

.nav-container {
  align-items: center;
  background: #222222;
  display: flex;
  height: 75px;
  justify-content: center;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  color: #84DCC6;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  text-decoration: none;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  height: 60px;
  position: relative;
}

.nav-container .checkbox {
  cursor: pointer;
  display: block;
  height: 32px;
  left: 20px;
  opacity: 0;
  position: absolute;
  top: 20px;
  width: 32px;
  z-index: 5;
}

.nav-container .hamburger-lines {
  display: block;
  display: flex;
  flex-direction: column;
  height: 26px;
  justify-content: space-between;
  left: 20px;
  position: absolute;
  top: 17px;
  width: 32px;
  z-index: 2;
}

.nav-container .hamburger-lines .line {
  background: #84DCC6;
  border-radius: 10px;
  display: block;
  height: 4px;
  width: 100%;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  box-shadow: inset 0 0 2000px rgba(149, 163, 179, 0.999);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: -40px;
  padding-left: 50px;
  padding-top: 120px;
  text-align: center;
  transform: translate(-150%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.navbar .menu-items li {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.logo {
  color: #FFFFFF;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  margin: 0;
  padding: 8px;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}



/* the divs below do not seem to do anything to styles thus commented out*/
/* .newTaskItem {
  background-color: #4B4E6D;
  height: 50px;
  margin-top: 25px;
}
.addContainer {
  background-color: #4B4E6D;
  height: 50px;
  margin-top: 25px;
  width: 50%;
  margin: 25px auto auto 0;
}
.addContainer {
  display: flex;
  justify-content: center;
}
.newTask {
  flex-grow: 0.10;
  display: flex;
  align-items: center;
} */


/* doesn't seem to need a .newTask div wrapping the form thus selecting form directly: */
form {
  display: inline-block;
  background-color: #4B4E6D;
  height: 10%;
  margin-top: 25px;
}

@media (min-width: 1025px) {
  form {
    width: 40%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  form {
    width: 60%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  form {
    width: 80%;
  }
}

@media (max-width: 480) {
  form {
    width: 100%;
  }
}

/*placeholder colour and font*/
input::placeholder {
  color: #ffffffa9;
  padding: 10px;
  /* font-family: 'Ropa Sans', sans-serif; */
}




.form-item {
  width: 100%;
  padding: 10px;
  background-color: #222222;
  border: none;
  /* outline: none; */
  font-size: 1.5rem;
  color: white;
  font-family: 'Ropa Sans', sans-serif;
}

/* priority */
.dropdown-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-label,
.form-select {
  margin-right: 5%;
}

.form-label {
  text-align: left;
  width: 20%;
}

.form-select,
.add-btn {
  width: 40%;
}

.form-select {
  background-color: #4B4E6D;
  border-radius: 5px;
}


/* .newTask form {
  flex-grow: 1;
} */


/*add button */
.btn {
  padding: 10px;
  /* display: flex;
  justify-content: center; */
  /* font-size: 2rem; */
  cursor: pointer;
  transition: all 0.25s;
  /* font-family: 'Ropa Sans', sans-serif; */
}

/*hover over add button colour*/
.btn:hover {
  color: #FFFFFF;
  background-color: #e75a5a;
}

.add-btn, .confirm-btn {
  color: #222222;
  /* background-color: #222222; */
  background-color: #84DCC6;
}

.cancel-btn {
  color: #84DCC6;
  /* background-color: #222222; */
  background-color: #222222;
  border: 1px solid #84DCC6;
}



.confirm-cancel-btn-group {
  display: flex;
  align-items: center;
}

.confirm-cancel-btn-group * {
  flex-grow: 1;
  margin: 1%;
}

.confirmBtn {
  border: 2px solid white;
  background-color: #222222;
  color: white;
}

.cancelBtn {
  border: 2px solid white;
  background-color: white;
  color: #222222;
}